/*flex style sheet*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.menu-container {
	  display: flex;
	  justify-content: center;
	  background-color: #4dabf5;
	  color: #fff;
	  padding: 20px;
	}
.menu {
	width: 800px;
	display: flex;
	justify-content: space-between;
}	
